@model SignalRWebUI.Dtos.AboutDtos.UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayoutController1/Index.cshtml";
}

<div class="container-fluid">
	<h4 class="page-title">Kategori İşlemleri</h4>
	<div class="row">
		<div class="col-md-12">
			<form method="post">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Yeni Hakkımda Girişi</div>
					</div>
					<input type="hidden" asp-for="AboutID"/>
					<div class="card-body">
						<div class="form-group">
							<label for="title">Başlık Giriniz</label>
							<input type="text" class="form-control" asp-for="Title" id="title">

						</div>
						<div class="form-group">
							<label for="ımageurl">Görselin Urlsini Giriniz</label>
							<input type="text" class="form-control" asp-for="ImageUrl" id="ımageurl">

						</div>
						<div class="form-group">
							<label for="description">Açıklamayı Giriniz</label>
							<input type="text" class="form-control" asp-for="Description" id="description">

						</div>




					</div>
					<div class="card-action">
						<button class="btn btn-success">Hakkında Ekle</button>

					</div>
				</div>
			</form>
		</div>

	</div>
</div>

