@model CreateContactDto
@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/AdminLayoutController1/Index.cshtml";
}
<div class="container-fluid">
	<h4 class="page-title">İletişim Bilgi İşlemleri</h4>
	<div class="row">
		<div class="col-md-12">
			<form method="post">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Yeni İletişim Bilgi Girişi</div>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label for="Location">Lokasyon Adını Giriniz</label>
							<input type="text" class="form-control" asp-for="Location" id="Location">

						</div>

						<div class="form-group">
							<label for="Phone">Telefon Numarasını Giriniz</label>
							<input type="text" class="form-control" asp-for="Phone" id="Phone">

						</div>
						<div class="form-group">
							<label for="Mail">Mail Adresini Giriniz</label>
							<input type="text" class="form-control" asp-for="Mail" id="Mail">

						</div>
						

						<div class="form-group">
							<label for="FooterDescription">Açıklama Giriniz</label>
							<input type="text" class="form-control" asp-for="FooterDescription" id="FooterDescription">

						</div>




					</div>
					<div class="card-action">
						<button class="btn btn-success"> Ekle</button>

					</div>
				</div>
			</form>
		</div>

	</div>
</div>





